In [46]:
import pandas as pd

In [47]:
school_df =pd.read_csv('./Resources/schools_complete.csv')

In [48]:
student_df =pd.read_csv('./Resources/students_complete.csv')

In [49]:
school_df

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [50]:
print('The number of unique schools is: ',len(school_df['School ID'].unique()))

The number of unique schools is:  15

In [51]:
student_df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48
39166,39166,Dawn Bell,F,10,Thomas High School,81,89
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62

In [52]:
print('The number of students is: ',len(student_df['Student ID'].unique()))

The number of students is:  39170

In [53]:
print('The total school budget is: ${}'.format(sum(school_df['budget'])))

The total school budget is: $24649428

In [54]:
print('The average maths score is: {}%'.format(student_df['maths_score'].mean()))

The average maths score is: 70.33819249425581%

In [55]:
print('The average reading score is: {}%'.format(student_df['reading_score'].mean()))

The average reading score is: 69.98013786060761%

In [56]:
print('The percentage of students who have passed maths is: {}%'.format((len(student_df[student_df['maths_score']>=50])/len(student_df['Student ID'].unique()))*100))

The percentage of students who have passed maths is: 86.07863160582077%

In [57]:
print('The percentage of students who have passed reading is: {}%'.format((len(student_df[student_df['reading_score']>=50])/len(student_df['Student ID'].unique()))*100))

The percentage of students who have passed reading is: 84.42685728874139%

In [61]:
print('The percentage of students who have passed both is: {}%'.format((len(student_df.loc[(student_df['reading_score']>=50) & (student_df['maths_score'] >= 50)])/len(student_df['Student ID'].unique()))*100))

The percentage of students who have passed both is: 72.80827163645647%

In [100]:
#School Summary



# Create DF
school_summary_df = pd.DataFrame(columns=['School Name', 'School Type', 'Total Students', 'Total School Budget',
                                          'Per Student Budget', 'Average Maths Score', 'Average Reading Score',
                                          '% Passing Maths', '% Passing Reading', '% Overall Passing'])

# loop through unique school names
for school in school_df['school_name'].unique():
    school_data = school_df[school_df['school_name'] == school]
    student_school_df = student_df[student_df['school_name'] == school]

    # Calculate values
    sch_name = school
    sch_type = school_data['type'].values[0]
    num_students = len(student_school_df['Student ID'].unique())
    budget = float(school_data['budget'])
    budget_per_student = budget / num_students
    average_math = student_school_df['maths_score'].mean()
    average_read = student_school_df['reading_score'].mean()

    percent_pass_math = (student_school_df['maths_score'] >= 50).mean() * 100
    percent_pass_read = (student_school_df['reading_score'] >= 50).mean() * 100
    percent_pass_both = ((student_school_df['reading_score'] >= 50) & (student_school_df['maths_score'] >= 50)).mean() * 100

    # Create a row for the school
    row = [sch_name, sch_type, num_students, budget, budget_per_student,
           average_math, average_read, percent_pass_math, percent_pass_read, percent_pass_both]

    # Append the row to the school_summary_df DF
    school_summary_df.loc[len(school_summary_df)] = row


print(school_summary_df)

              School Name  School Type  Total Students  Total School Budget  \
0       Huang High School   Government            2917            1910635.0
1    Figueroa High School   Government            2949            1884411.0
2     Shelton High School  Independent            1761            1056600.0
3   Hernandez High School   Government            4635            3022020.0
4     Griffin High School  Independent            1468             917500.0
5      Wilson High School  Independent            2283            1319574.0
6     Cabrera High School  Independent            1858            1081356.0
7      Bailey High School   Government            4976            3124928.0
8      Holden High School  Independent             427             248087.0
9        Pena High School  Independent             962             585858.0
10     Wright High School  Independent            1800            1049400.0
11  Rodriguez High School   Government            3999            2547363.0
12    Johnson High School   Government            4761            3094650.0
13       Ford High School   Government            2739            1763916.0
14     Thomas High School  Independent            1635            1043130.0

    Per Student Budget  Average Maths Score  Average Reading Score  \
0                655.0            68.935207              68.910525
1                639.0            68.698542              69.077993
2                600.0            72.034072              70.257808
3                652.0            68.874865              69.186408
4                625.0            71.788147              71.245232
5                578.0            69.170828              68.876916
6                582.0            71.657158              71.359526
7                628.0            72.352894              71.008842
8                581.0            72.583138              71.660422
9                609.0            72.088358              71.613306
10               583.0            72.047222              70.969444
11               637.0            72.047762              70.935984
12               650.0            68.843100              69.039277
13               644.0            69.091274              69.572472
14               638.0            69.581651              69.768807

    % Passing Maths  % Passing Reading  % Overall Passing
0         81.693521          81.453548          66.712376
1         81.654798          82.807731          67.650051
2         91.538898          86.712095          78.875639
3         80.949299          81.877023          66.364617
4         91.212534          88.487738          81.335150
5         82.785808          81.296540          67.455103
6         90.850377          89.074273          80.785791
7         91.639871          87.379421          80.084405
8         89.929742          88.524590          78.922717
9         91.683992          86.590437          79.209979
10        91.777778          86.666667          79.722222
11        90.797699          87.396849          79.419855
12        82.062592          81.978576          67.191766
13        82.438846          82.219788          67.469880
14        83.853211          82.629969          69.480122

C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])
C:\Users\craig\AppData\Local\Temp\ipykernel_13476\3937542803.py:19: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  budget = float(school_data['budget'])

In [82]:
#Top Performing Schools (By % Overall Passing)
# Sort the schools by "% Overall Passing" in descending order
top_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=False).head(5)

print(top_schools)

              School Name  School Type  Total Students  Total School Budget  \
4     Griffin High School  Independent            1468             917500.0
6     Cabrera High School  Independent            1858            1081356.0
7      Bailey High School   Government            4976            3124928.0
10     Wright High School  Independent            1800            1049400.0
11  Rodriguez High School   Government            3999            2547363.0

    Per Student Budget  Average Maths Score  Average Reading Score  \
4                625.0            71.788147              71.245232
6                582.0            71.657158              71.359526
7                628.0            72.352894              71.008842
10               583.0            72.047222              70.969444
11               637.0            72.047762              70.935984

    % Passing Maths  % Passing Reading  % Overall Passing  \
4         91.212534          88.487738          81.335150
6         90.850377          89.074273          80.785791
7         91.639871          87.379421          80.084405
10        91.777778          86.666667          79.722222
11        90.797699          87.396849          79.419855

   Spending Ranges (Per Student)         School Size
4                       $585-630  Medium (1000-2000)
6                          <$585  Medium (1000-2000)
7                       $585-630   Large (2000-5000)
10                         <$585  Medium (1000-2000)
11                      $630-645   Large (2000-5000)

In [83]:
#Bottom Performing Schools (By % Overall Passing)

# Sort the schools by "% Overall Passing" in ascending order
bottom_schools = school_summary_df.sort_values(by='% Overall Passing').head(5)


print(bottom_schools)

              School Name  School Type  Total Students  Total School Budget  \
3   Hernandez High School   Government            4635            3022020.0
0       Huang High School   Government            2917            1910635.0
12    Johnson High School   Government            4761            3094650.0
5      Wilson High School  Independent            2283            1319574.0
13       Ford High School   Government            2739            1763916.0

    Per Student Budget  Average Maths Score  Average Reading Score  \
3                652.0            68.874865              69.186408
0                655.0            68.935207              68.910525
12               650.0            68.843100              69.039277
5                578.0            69.170828              68.876916
13               644.0            69.091274              69.572472

    % Passing Maths  % Passing Reading  % Overall Passing  \
3         80.949299          81.877023          66.364617
0         81.693521          81.453548          66.712376
12        82.062592          81.978576          67.191766
5         82.785808          81.296540          67.455103
13        82.438846          82.219788          67.469880

   Spending Ranges (Per Student)        School Size
3                       $645-680  Large (2000-5000)
0                       $645-680  Large (2000-5000)
12                      $645-680  Large (2000-5000)
5                          <$585  Large (2000-5000)
13                      $630-645  Large (2000-5000)

In [96]:
#Maths Scores by Year
# Create a pivot table to calculate the average math score
math_scores_by_year = pd.pivot_table(student_df, values='maths_score', index='school_name', columns='year', aggfunc='mean')

# Rename the columns
math_scores_by_year.columns = ['Year 9', 'Year 10', 'Year 11', 'Year 12']


print(math_scores_by_year)

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [97]:
#Reading Score by Year
# Create a pivot table to calculate the average reading score
reading_scores_by_year = pd.pivot_table(student_df, values='reading_score', index='school_name', columns='year', aggfunc='mean')

# Rename the columns
reading_scores_by_year.columns = ['Year 9', 'Year 10', 'Year 11', 'Year 12']


print(reading_scores_by_year)

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [98]:
#Scores by School Spending
# Define the spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorise spending
school_summary_df['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], spending_bins, labels=labels)

# Group the DataFrame
spending_summary = school_summary_df.groupby('Spending Ranges (Per Student)').agg({
    'Average Maths Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Maths': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'})


print(spending_summary)

                               Average Maths Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                    71.364587              70.716577
$585-630                                 72.065868              71.031297
$630-645                                 69.854807              69.838814
$645-680                                 68.884391              69.045403

                               % Passing Maths  % Passing Reading  \
Spending Ranges (Per Student)
<$585                                88.835926          86.390517
$585-630                             91.518824          87.292423
$630-645                             84.686139          83.763585
$645-680                             81.568470          81.769716

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  76.721458
$585-630                               79.876293
$630-645                               71.004977
$645-680                               66.756253

In [77]:
#Scores by School Size
# Define the size bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add a new column to 'per_school_summary'
per_school_summary['School Size'] = pd.cut(per_school_summary['Total Students'], size_bins, labels=labels)

# Group the DataFrame by school size
size_grouped = per_school_summary.groupby('School Size').agg({
    'Average Maths Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Maths': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'})

# Create the size_summary DF
size_summary = pd.DataFrame(size_grouped)


print(size_summary)

                    Average Maths Score  Average Reading Score  \
School Size
Small (<1000)                 72.335748              71.636864
Medium (1000-2000)            71.421650              70.720164
Large (2000-5000)             69.751809              69.576052

                    % Passing Maths  % Passing Reading  % Overall Passing
School Size
Small (<1000)             90.806867          87.557513          79.066348
Medium (1000-2000)        89.846560          86.714149          78.039785
Large (2000-5000)         84.252804          83.301185          70.293507

In [99]:
#Scores by School Type
# Group the DataFrame by school type
type_grouped = school_summary_df.groupby('School Type').agg({
    'Average Maths Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Maths': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'})

#Create the type_summary DF
type_summary = pd.DataFrame(type_grouped)


print(type_summary)

             Average Maths Score  Average Reading Score  % Passing Maths  \
School Type
Government             69.834806              69.675929        84.462375
Independent            71.368822              70.718933        89.204043

             % Passing Reading  % Overall Passing
School Type
Government           83.587562          70.698993
Independent          86.247789          76.973340